
<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-light"> <!-- Logo -->

	<ul class="nav">
		<li class="navbar-logo">
			<a class=navbar-brand" href="#">
		  		<img src="{{static('img/logo.png')}}">
		 	</a>
	 	</li>
 	</ul>

 	<ul>
	 	<li class = "nav-title">
	 		Degree Planning
	 	</li>
 	</ul>


 	<ul class="navbar-nav ml-auto">
 	{% if request.user.is_authenticated %}
 		 <li class="menu-item"><button type="button" class= "btn btn-link"><a href="{{ url('logout') }} ">Logout</a></button></li>
 	{%else%}
 		<li class="menu-item"><button type="button" class= "btn btn-link"><a href="{{ url('login') }} ">Login</a></button></li>
 		<li class="menu-item"><button type="button" class= "btn btn-link"><a href="{{ url('signup') }} ">Sign Up</a></button></li>
 	{%endif%}
 	</ul>


 </div>


</nav>

<!--Start menu -->
{% if request.user.is_superuser %}
	<br>
	<nav>
    	<ul class="nav justify-content-center">

        	<li class="menu-item"><a class="btn btn-outline-success" href="{{ url('degrees') }} " role="button">Select a Degree</a></li>
        	<li class="menu-item"><a class="btn btn-outline-success" href="{{ url('degreePlan') }}" role="button">View Degree Plan</a></li>
        	<li class="menu-item"><a class="btn btn-outline-success" href="{{ url ('timeline') }}" role="button">View Timeline</a></li>
        	<li class="menu-item"><a class="btn btn-outline-success" href="{{url ('transferCreditList')}}" role="button">View Transfer Credits</a></li>
        	<li class="menu-item"><a class="btn btn-outline-success" href="{{url ('addDegree')}}" role="button">Add a Degree</a></li>
        	<li class="menu-item"><a class="btn btn-outline-success" href="{{url ('editDegree')}}" role="button">Edit a Degree</a></li>
        	<li class="menu-item"><a class="btn btn-outline-success" href="{{url ('addTransferCredit')}}" role="button">Add a Transfer Credit</a></li>
		</ul>
	</nav>
	<br>
<!--Start menu -->
{% else %}
	<br>
	<nav>
    	<ul class="nav justify-content-center">

        	<li class="menu-item"><a class="btn btn-outline-success" href="{{ url('degrees') }} " role="button">Select a Degree</a></li>
        	<li class="menu-item"><a class="btn btn-outline-success" href="{{ url('degreePlan') }}" role="button">View Degree Plan</a></li>
        	<li class="menu-item"><a class="btn btn-outline-success" id="loading" href="{{ url ('timeline') }}" role="button">View Timeline</a></li>
        	<li class="menu-item"><a class="btn btn-outline-success" href="{{url ('transferCreditList')}}" role="button">View Transfer Credits</a></li>
    	</ul>
	</nav>
	<br>
<!--End Menu -->
{% endif %}
