{% extends 'base.html' %}

{% block content %}

<h1>Transfer Credit View</h1>

<form method='POST'>
    
    <div>
        <h3>My Transfer Credits</h3>
        <p>{{ request.session['transferCredit'] }}</p>
    </div>
    <div>
        {{ csrf_input }}
        
        <h3>Transfer Credit Options</h3>
        <p>Please select the credits you already have from the list of possible transfer credits below.</p>

        {% for categories, courses in equivalencyList.items() %}
        
            <h4>{{categories}}</h4>
    
            <!--  -->
            {% for course in courses %}
                <!-- <p>{{course}}</p> -->
    
                <input type = 'checkbox' value = "{{ course[0] }}" name = 'transfer credits' style = "float:left">
                <p style = 'padding-left:2em'>{{course[1]}} -> {{course[0]}}</p>
    
            {% endfor %}
    
        {% endfor %}
     
        <button type='submit' class="floatBtn">
            Submit
        </button>

    </div>
    

</form>

{% endblock %}