navbar-brand {
	background-color: #009933;
}
navbar-nav {
	display:inline-block;
}
h1 {

}
nav li {display:inline-block;}

.course-col {
	position: relative;	
	flex: 0 0 50%;
	max-width: 50%;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.nav-title{
	font-size: 32px;

}

.checkboxStyle {
	float: left;
	position: absolute;
	left: 2em;
}

.displayCourseInfo {
	display: inline;
	white-space: pre-wrap;
}

.courseAmp {
	padding-left: 4em;
}

.courseAmp:hover {
	background-color: #d3d3d3;
}

.starLabel {
	padding-left: 2em;
}

.starLabelAmp {
	padding-left: 4em;
}

.courseName {
	padding-left: 2em;
}

.courseNameHighlight {
	background-color: rgba(85,198,87,.6)
}

.courseName:hover {
	background-color: #d3d3d3;
}

.navbar-light{

	background: rgba(85,198,87,.6);
}

.floatBtn {
	color: white;
	font-weight: bold;
	position: fixed;
	bottom: 45px;
	right: 45px;
	height: 10%;
	width: 10%;
	background: rgba(85,198,87,1.0);
	border-color: rgba(85,198,87,1.0);
	border-radius: 12px;
}

.floatBtn:hover {
	background-color: rgba(5,144,51,1.0)
}

body{
	width: 100%;
	
}
.btn-outline-success:active:focus{
background-color: rgba(85,198,87,.6); 
}
.btn-outline-success:hover, 
.btn-outline-success:focus, 
.btn-outline-success:active, 
.btn-outline-success.active,
.btn-outline-success, 
.open .dropdown-toggle.btn-success {
	border-color: rgba(85,198,87,.6);
	margin-right: 5px
} 

.btn-success
{
	background-color: rgba(85,198,87,1);
}
.timeline-course{
	list-style-type:circle;
	margin-left: 8px;
}

.semester{
	font-size:18px;

}

.checkboxPadding{
	padding-left: 2em;
}
